html,
body {
    padding: 0;
    margin: 0;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
    color: white;
}
body {
    background: url("../public/fredrick-tendong--GMUHeFuJUs-unsplash.jpg")
        no-repeat;
    background-size: cover;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
